/__pycache__
/ui/__pycache__
/release
/build
/binaries/ntsd.exe
/binaries/pssuspend.exe
/binaries/PSethc.exe
/binaries/JiYuTrainer/JiYuTrainer.exe
/binaries/JiYuTrainer/JiYuTrainer.ini
/binaries/JiYuTrainer/JiYuTrainer.log
/binaries/JiYuTrainer/JiYuTrainerHooks.dll
/binaries/JiYuTrainer/sciter.dll
